<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title> Editar Música </title>
</head>

<body> 
    <%- include('./partials/header.ejs') %>
    <main class="main__container">
        <div id="sub__header"> </div>
        <section id="form__container">
            <form method="post" action="/editar/<%= musicaAtual.id %> ">
                <fieldset>
                    <legend> Editar Playlist </legend>
                    <fieldset class="fieldset__data">
                        <input type="text" name="nome" value="<%= musicaAtual.nome %>" required/>
                        <label for="nome"> Nome da Música </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="cantor" value="<%= musicaAtual.cantor %>" required/>
                        <label for="cantor"> Nome do Cantor </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="number" name="duração" required value=<%= musicaAtual.duração %> />
                        <label for="duração"> Duração </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="iframe" value="<%= musicaAtual.iframe %>" required/>
                        <label for="iframe"> Código do Vídeo </label> 
                    </fieldset>

                        <div id="btn__container">
                            <button id="btn__submit" type="submit"> Concluir </button>
                        </div>
                </fieldset>
            </form>
        </section>
    </main>
    <button> </button>
    <%- include('./partials/footer.ejs') %>
</body>

</html>